body {
	background: #E2E4E6;
	padding-top: 4em;
}

.form-container {
	background: white;
	padding: 3.5em;
	width: 500px;
	position: fixed;
	left: 45%;
	margin-left: -250px;
}

button {
	padding: 0.5em;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.google {
	border: 1px solid #95989A;
	background: #fff;
	background-size: 25px;
}

.email {
	background: #ECECEC;
	background-size: 25px;
}

.create-account-txt {
	text-align: center;
	display: block;
	margin: 15px 0;
}

.auth-btn {
	background: #3B8598;
	color: white;
}

input.input-txt {
	background: #fff !important;
    padding: 0.5em 1em;
    font-size: 1.3em;
    border: 1px solid #BBBBBB;
    width: 90%;
    margin-bottom: 1em;
}
